@charset "utf-8";
/* CSS Document */

.abooutus_section {
	background: url('../Images/inner-pagebg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0 auto;
	padding: 260px 0px;
}
.aboutus_text {
	text-align: center;
	margin: 0 auto;
}
.aboutus_text h3 {
	font-size: 50px;
	color: #FFF;
	font-weight: 700;
	font-family: 'Philosopher',sans-serif !important;
	margin: 0px;
}
.about_text p {
	margin-bottom: 30px;
}
.about_text h2 {
	margin-bottom: 10px;
}
.about_text h1 {
	margin-bottom: 20px;
}
.about_section {
	padding: 80px 0px;
}