@charset "utf-8";
/* CSS Document */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 0.8s ease 0s;
}
#myHeader.sticky {
	background: rgba(0,0,0,0.9);
	transition: all 0.8s ease 0s;
}
.header.sticky {
	top: 0;
}
.sticky .logo_t img {
	max-width: 50%;
	transition: all 0.5s ease;
}
#myHeader {
	background: transparent;
}
.main-navigation ul li i {
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
}
.main-navigation ul li span {
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.50px;
	text-transform: uppercase;
	padding-left: 10px;
	transition: all 0.8s ease 0s;
	position: relative;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
.header {
	position: fixed;
/*	top: 0;*/
	z-index: 9999;
	background: transparent;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	transition: all 0.8s ease 0s;
}
.navbar {
	box-shadow: none;
}
.main-header {
	position: relative;
	/* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2); */
	/* background: rgb(0,0,0,0.8); */
	padding: 5px 0px;
	transition: all 0.8s ease 0s;
}
.main-navigation .menu a.active, .main-navigation .menu a:hover {
    color: #e02a26!important;
}
.main-navigation ul li {
	display: inline-block;
	position: relative;
	margin-left: 50px;
}
.main-navigation ul li a {
	font-size: 15px;
	font-weight: 500;
	color: #FFF !important;
	letter-spacing: 0.50px;
	text-transform: uppercase;
	padding: 15px 0px;
	display: block;
	transition: all 0.8s ease 0s;
	position: relative;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
.main-navigation ul li a::after {
	position: absolute;
    content: '';
    background: #e02a26;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
.main-navigation ul li a:hover::after {
	width: 100%;
}
.main-navigation ul ul li a {
	color: #ffffff;
}
/* Main Menu CSS End*/
/* Submenu / Dropdown Menu CSS */
.main-navigation ul li ul {
	position: absolute;
	width: 250px;
	left: 0;
	top: 65px;
	z-index: 2;
	-webkit-transition: .3s;
	transition: .3s;
	visibility: hidden;
	opacity: 0;
	background-color: #1e1916;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-navigation ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}
.main-navigation ul li ul li a {
	padding: 14px 20px;
	line-height: 26px;
}
.main-navigation ul li ul li {
	display: block;
	text-align: left;
}
.main-navigation ul li ul ul {
	left: 250px;
	top: 0;
}
.main-navigation ul li ul li {
	border-bottom: 1px solid #e5e5e52b;
}
.main-navigation ul li ul li:last-child {
	border-bottom: 0;
}
/* Submenu / Dropdown Menu CSS End */
/* Mobile Menu CSS Start*/
.mobile-menu-trigger {
	cursor: pointer;
	display: none;
	background: transparent;
	border: none;
}
.mobile-menu-trigger span {
	height: 4px;
	display: block;
	width: 30px;
	margin-bottom: 9px;
	background-color: #FFF;
}
.mobile-menu-trigger span:last-child {
	margin-bottom: 0;
}
.mobile-menu-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(0,0,0,0.9);
	z-index: 999999;
	opacity: 0;
	visibility: hidden;
	overflow-y: scroll;
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	overflow-x: hidden;
	-webkit-transition: .4s;
	transition: .4s;
}
.mobile-menu-container li {
	opacity: 0;
	visibility: hidden;
	-ms-transform: translateX(1000px);
	-webkit-transform: translateX(1000px);
	transform: translateX(100px);
	-webkit-transition: 1s;
	transition: 1s;
	border-top: 1px solid rgb(255 255 255 / 8%);
}
.mobile-menu-container li:nth-last-child(1) {
	border-bottom: 1px solid rgb(255 255 255 / 8%);
}
.mobile-menu-container li > a .slicknav_arrow:after {
	content: "\f067";
	position: absolute;
	font-family: 'FontAwesome';
	top: 0;
	bottom: 0;
	color: white;
	z-index: 999;
	margin: 0 auto;
	text-align: center;
	right: 0;
	left: 0;
	font-size: 16px;
	line-height: 50px;
}
.mobile-menu-container.menu-open li.slicknav_open > a .slicknav_arrow:after {
	content: "\f068";
}
.mobile-menu-container.menu-open {
	opacity: 1;
	visibility: visible;
	-ms-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.mobile-menu-container.menu-open li {
	visibility: visible;
	list-style: none;
	color: #FFF;
}
.mobile-menu-container.menu-open li span {
	font-size: 15px;
	font-weight: 700;
	color: #FFF !important;
	letter-spacing: 0.50px;
	text-transform: uppercase;
	padding: 20px 0px;
	transition: all 0.8s ease 0s;
	position: relative;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
.mobile-menu-container.menu-open li {
	opacity: 1;
	visibility: visible;
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
	transform: translateX(0);
	list-style: none;
	padding: 10px 0;
}
.mobile-menu-close {
	position: absolute;
	right: 20px;
	top: 50px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1;
}
.mobile-menu-close::before {
	left: 15px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mobile-menu-close::after {
	right: 13px;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.mobile-menu-close::before, .mobile-menu-close::after {
	position: absolute;
	height: 30px;
	width: 2px;
	background: #ffffff;
	content: '';
	top: 0;
}
#mobile-menu-wrap {
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	right: 0;
	padding: 150px 20px 20px 20px;
}
#mobile-menu-wrap div {
	background-color: transparent;
}
#mobile-menu-wrap .slicknav_item i {
	display: none;
}
/*Sidebar Start*/
.slicknav_nav, .slicknav_nav.slicknav_hidden {
	display: block !important;
	text-align: left;
}
.slicknav_btn {
	display: none !important;
}
.slicknav_menu {
	padding-left: 0;
}
.slicknav_nav li > a {
	display: block;
	font-size: 15px;
	font-weight: 700;
	color: #FFF !important;
	letter-spacing: 0.50px;
	text-transform: uppercase;
	padding: 0px;
	transition: all 0.8s ease 0s;
	position: relative;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
.slicknav_item.slicknav_row a {
	border-bottom: 0;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 10px 0px;
	margin: 0;
}
.slicknav_nav .slicknav_arrow {
	font-size: 0;
	background: rgb(255 255 255 / 8%);
	height: 100%;
	width: 50px;
	display: inline-block;
	position: absolute;
	top: 0;
}
.slicknav_nav ul {
	margin: 0 0 0 0px;
}
.slicknav_nav .menu-item-has-children ul {
	margin-bottom: 00px;
}
.slicknav_nav .menu-item-has-children ul li {
	padding-left: 25px;
}
.sub-menu .menu-item-has-children a i {
	position: absolute;
	right: 20px;
	top: 20px;
}
.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
	background-color: transparent;
}
.slicknav_nav .slicknav_row:hover, .slicknav_nav a:hover {
	border-radius: 0;
    color: #e02a26 !important;
}
.slicknav_item.slicknav_row {
	display: inline-block;
	width: 100%;
	position: relative;
}
.slicknav_arrow {
	-webkit-transition: .3s;
	transition: .3s;
	right: 0;
	top: 17px;
	position: absolute;
}
.slicknav_nav a, .slicknav_row a {
	color: #ffffff;
	font-size: 18px;
	display: inline-block;
}

/*Sidebar Start*/            
/* Mobile Menu CSS End*/

@media only screen and (max-width: 991px) {
/*Menu*/
.header-navigation-area {
	display: none;
}
.mobile-menu-trigger {
	display: block;
}
.main-header {
	padding: 10px;
}
}
